@using Fitness.Model.Models
@using Fitness.ViewModels;
@model RegistrarViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.usuario.Id" />
            <div class="form-group">
                <div class="content_photoEdit">
                    <img class="photoEdit" src="@Model.usuario?.Foto" />
                    <input type="file" class="inputEditPhoto" name="photo" />
                </div>           
            </div>
            <div class="form-group">
                <label asp-for="@Model.usuario.NombreUsuario" class="control-label">Usuario</label>
                <input asp-for="@Model.usuario.NombreUsuario" class="form-control" />
                <span asp-validation-for="@Model.usuario.NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.usuario.Correo" class="control-label"></label>
                <input asp-for="@Model.usuario.Correo" class="form-control" />
                <span asp-validation-for="@Model.usuario.Correo" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <label asp-for="@Model.usuario.Nombre" class="control-label"></label>
                <input asp-for="@Model.usuario.Nombre" class="form-control" />
                <span asp-validation-for="@Model.usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.usuario.FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                <input asp-for="@Model.usuario.FechaNacimiento" class="form-control" />
                <span asp-validation-for="@Model.usuario.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.usuario.Altura" class="control-label"></label>
                <div class="content_Peso">
                    <input class="form-control col" type="number" asp-for="@Model.usuario.Altura" asp-validation-for="@Model.usuario.Altura" min="0" value="@Model.usuario.Altura.ToString().Replace(",",".")" step=".01">
                    <select asp-for="@Model.usuario.TipoAltura" asp-validation-for="@Model.usuario.TipoAltura" required class="form-control col">
                        @foreach (TipoAltura tipoAltura in Model.lstAltura)
                        {
                            if (Model.usuario.TipoAltura == tipoAltura.Id)
                            {
                                <option selected value="@tipoAltura.Id">@tipoAltura.Descripcion</option>
                            }
                            else
                            {
                                <option value="@tipoAltura.Id">@tipoAltura.Descripcion</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.usuario.Peso" class="control-label"></label>
                <div class="content_Peso">
                    <input class="form-control" type="number" asp-for="@Model.usuario.Peso" asp-validation-for="@Model.usuario.Peso" min="0" value="@Model.usuario.Peso.ToString().Replace(",",".")" step=".01">
                    <select asp-for="@Model.usuario.TipoPeso" asp-validation-for="@Model.usuario.TipoPeso" required class="form-control">
                        @foreach (TipoPeso tipoPeso in Model.lstPeso)
                        {
                            if (Model.usuario.TipoPeso == tipoPeso.Id)
                            {
                                <option selected value="@tipoPeso.Id">@tipoPeso.Descripcion</option>
                            }
                            else
                            {
                                <option value="@tipoPeso.Id">@tipoPeso.Descripcion</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.usuario.Genero" class="control-label"></label>
                <select asp-for="@Model.usuario.Genero" asp-validation-for="@Model.usuario.Peso" required class="form-control">
                    @foreach (Genero genero in Model.lstGenero)
                    {
                        if (Model.usuario.Genero == genero.Id)
                        {
                            <option selected value="@genero.Id">@genero.Descripcion</option>
                        }
                        else
                        {
                            <option value="@genero.Id">@genero.Descripcion</option>
                        }                     
                    }
                </select>
         
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" >Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
