@model Fitness.Model.Models.MetaSalud


<h3>¿Usted está seguro de eliminar esto?</h3>
<div>
    <a class="regresar" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
    <h4 class="d-inline-block">Meta de Salud</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tipo de Meta
        </dt>
        <dd class="col-sm-10">
            @(Model.TipoMetaNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Peso Objectivo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoObjectivo) @(Model.TipoPesoNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Fecha Objectivo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaObjectivo)
        </dd>
        <dt class = "col-sm-2">
            Nivel de Actividad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelActividad)
        </dd>
        <dt class = "col-sm-2">
            Ojectivo Específico
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OjectivoEspecifico)
        </dd>
  
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
    </form>
</div>
