@model Fitness.Model.Models.Dieta

<div>
    <h4>Dieta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tipo de Comida
        </dt>
        <dd class="col-sm-10">
            @((ViewBag.TipoComida as SelectList).Where(x => x.Value == Model.Id.ToString()).FirstOrDefault().Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            Calorías
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calorias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
  </div>
