@model Fitness.Model.Models.ActividadFisica

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalle de la Actividad Fisica</h4>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @((ViewBag.TipoActividadFisica as SelectList).Where(x => x.Value == Model.Id.ToString()).FirstOrDefault().Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha) 
        </dd>
        <dt class = "col-sm-2">
            Duración
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion) minutos
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distancia)   @((ViewBag.TipoDistancia as SelectList).Where(x => x.Value == Model.TipoDistancia.ToString()).FirstOrDefault().Text)
        </dd>
        <dt class = "col-sm-2">
            Calorías
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calorias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
